{% extends 'base.html.twig' %}

{% block title %}EuroPlant{% endblock %}

{% block body %}
  <main class="my-5">
    <div class="container">
    <section class="text-center">

    <h4 class="mb-5"><strong>Liste des produits</strong> <a href="{{ path('new_produit') }}" class="btn btn-primary">Ajouter</a> </h4>

    {% if produits is empty %}
        <p>Aucun produit</p>
    {% else %}
    <div class="row">
    {% for produit in produits %}


        <div class="col-lg-4 col-md-12 mb-4">
        <div class="card" style="border: solid 1px">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ produit.nom | upper }}</h5>
            <p class="card-text">
                {{ produit.description }}
            </p>
            <a href="{{ path('produit', {produitName: produit.nom}) }}" class="btn btn-primary">Accéder au produit</a>
            </div>
        </div>
        </div>


    {% endfor %}
    </div>



    {% endif %}


    </section>
    </div>
  </main>
{% endblock %}
